.footerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  height: 250px;
}

.footerWrapper .innerFooter h2 {
  color: #fff;
}
